<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout.html :: dynamic(~{::body})}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Coron-login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="..\assets\img\favicon.png">
		
		<!-- all css here -->
        <link rel="stylesheet" href="..\assets\css\bootstrap.min.css">
        <link rel="stylesheet" href="..\assets\css\plugin.css">
        <link rel="stylesheet" href="..\assets\css\bundle.css">
        <link rel="stylesheet" href="..\assets\css\style.css">
        <link rel="stylesheet" href="..\assets\css\responsive.css">
        <script src="..\assets\js\vendor\modernizr-2.8.3.min.js"></script>
    </head>
    <body>
            <!-- Add your site or application content here -->
            
            <!--pos page start-->
            <div class="pos_page">
                <div class="container"> 
                    <!--pos page inner-->
                    <div class="pos_page_inner">  
                         <!--breadcrumbs area start-->
                        <div class="breadcrumbs_area">
                            <div class="row">
                                    <div class="col-12">
                                        <div class="breadcrumb_content">
                                            <ul>
                                                <li><a href="index.html">home</a></li>
                                                <li><i class="fa fa-angle-right"></i></li>
                                                <li>Register</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!--breadcrumbs area end-->

                       <!-- customer login start -->
                        <div class="customer_login">
                            <div class="row">
                                       <!--register area start-->
                                        <div class="col-lg-12 col-md-12" >
                                            <div class="account_form register">
                                                <h2>Register</h2>
                                                <form action="#">
                                                    <p>   
                                                        <label>Email address  <span>*</span></label>
                                                        <input type="text">
                                                     </p>
                                                     <p>   
                                                        <label>Passwords <span>*</span></label>
                                                        <input type="password">
                                                     </p>
                                                    <div class="login_submit">
                                                        <button type="submit">Register</button>
                                                        <a th:href="@{/index/login}">Login</a>
                                                    </div>
                                                     
                                                </form>
                                            </div>    
                                        </div>
                                        <!--register area end-->
                                    </div>
                        </div>
                        <!-- customer login end -->

                    </div>
                    <!--pos page inner end-->
                </div> 
            </div>
            <!--pos page end-->
            
            
    </body>
</html>
