<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!--footer area start-->
<div th:fragment="footer" class="footer_area" >
    <div  class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer_widget">
                        <h3 th:text="#{footer.aboutus}">About us</h3>
                        <p  th:text="#{footer.p}">Pos Coron is an Online bookstore with a huge number of titles that are updated daily. 
                        In addition to buying books online at Pos Coron, you also have a wide selection of gifts, stationery, toys, household items, 
                        technology with listed prices that are always equal to or lower than market prices to help you save a lot. shopping time.</p>
                        <div class="footer_widget_contect">
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>  19 Interpro Road Madison, AL 35758, USA</p>

                            <p><i class="fa fa-mobile" aria-hidden="true"></i> (012) 234 432 3568</p>
                            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact@plazathemes.com </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer_widget">
                        <h3  th:text="#{footer.MyAccount}">My Account</h3>
                        <ul>
                            <li><a href="#" th:text="#{footer.MyAccount}">Your Account</a></li>
                            <li><a href="#" th:text="#{footer.Myorders}">My orders</a></li>
                            <li><a href="#" th:text="#{footer.Mycreditslips}">My credit slips</a></li>
                            <li><a href="#" th:text="#{footer.Myaddresses}">My addresses</a></li>
                            <li><a href="#" th:text="#{footer.Login}">Login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer_widget">
                        <h3 th:text="#{footer.info}">Informations</h3>
                        <ul>
                            <li><a href="#" th:text="#{footer.Specials}">Specials</a></li>
                            <li><a href="#" th:text="#{footer.Ourstore}">Our store(s)!</a></li>
                            <li><a href="#" th:text="#{footer.Mycreditslips}">My credit slips</a></li>
                            <li><a href="#" th:text="#{footer.Termsandconditions}">Terms and conditions</a></li>
                            <li><a href="#" th:text="#{footer.aboutus}">About us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer_widget">
                        <h3>extras</h3>
                        <ul>
                            <li><a href="#" th:text="#{footer.Brands}"> Brands</a></li>
                            <li><a href="#" th:text="#{footer.GiftVouchers}"> Gift Vouchers </a></li>
                            <li><a href="#" th:text="#{footer.Affiliates}"> Affiliates </a></li>
                            <li><a href="#" th:text="#{footer.Specials}"> Specials </a></li>
                            <li><a href="#" th:text="#{footer.Privacypolicy}"> Privacy policy </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <ul>
                            <li><a href="#" th:text="#{footer.aboutus}"> about us </a></li>
                            <li><a href="#" th:text="#{footer.service}">  Customer Service  </a></li>
                            <li><a href="#" th:text="#{footer.Privacypolicy}">  Privacy Policy  </a></li>
                        </ul>
                        <p>Copyright &copy; 2018 <a href="#">Pos Coron</a>. All rights reserved. </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer_social text-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-wifi" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer area end-->

</body>
</html>