<div class="container-fluid" sty>
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<!-- /.card -->
						<div class="card">
							<div class="card-header bg-primary">
								<h3 class="card-title">DANH SÁCH TÀI KHOẢN</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3 .offset-sm-3 dataTables_filter">
										<label>Search:<input type="search" class="form-control form-control-sm"
												placeholder="" ng-model="keyword" aria-controls="example1"/></label>
									</div>
								</div>
								<table id="example1" class="table table-bordered table-striped">

									<thead>
										<tr>
											<th>Photo</th>
											<th>Username</th>
											<th>Password</th>
											<th>Fullname</th>
											<th>Email</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in pager.items| filter:keyword">
											<th>{{item.photo}}</th>
											<th>{{item.username}}</th>
											<th>{{item.password}}</th>
											<th>{{item.fullname}}</th>
											<th>{{item.email}}</th>
											<td style="text-align: center;">
												<div class="btn-group btn-group-xs">
													<button ng-click="edit(item)">
														<i class="fas fa-edit"></i>
													</button>
													<button ng-click="delete(item)">
														<i class="bi bi-trash"></i>
													</button>
												</div>

											</td>
										</tr>
									</tbody>
								</table>
								<div class="panel-footer text-center">
									<button ng-click="pager.first()" class="btn btn-success">
										<b class="glyphicon glyphicon-hand-up"></b> First
									</button>
									<button ng-click="pager.prev()" class="btn btn-success">
										<b class="glyphicon glyphicon-hand-left"></b> prev
									</button>
									<button class="btn btn-success">{{pager.page + 1}} of
										{{pager.count}}</button>
									<button ng-click="pager.next()" class="btn btn-success">
										<b class="glyphicon glyphicon-hand-right"></b> next
									</button>
									<button ng-click="pager.last()" class="btn btn-success">
										<b class="glyphicon glyphicon-hand-down"></b> last
									</button>
								</div>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->

					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
	</div>
	<div class="card " id="card-form">
		<div class="card-header bg-primary">
			<h3 class="text-white p-0 m-0">QUẢN LÝ TÀI KHOẢN</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-4 text-center">
					<label for="image"> <img ng-src="{{'/assets/images/' +form.photo}}"
							style="max-width: 100%; height: 400px">
					</label>

				</div>

				<div class="col-sm-8">
					<div class="row">
						<div class="form-group col-sm-6">
							<div>ID:</div>
							<input ng-model="form.id" class="form-control">
						</div>
						<div class="form-group col-sm-6">
							<div>Username:</div>
							<input ng-model="form.username" class="form-control">
						</div>
						<div class="form-group col-sm-6">
							<div>Password:</div>
							<input ng-model="form.password" class="form-control">
						</div>
						<div class="form-group col-sm-6">
							<div>Fullname:</div>
							<input ng-model="form.fullname" class="form-control">
						</div>
						<div class="form-group col-sm-6">
							<div>Email:</div>
							<input ng-model="form.email" class="form-control">
						</div>
						<div class="form-group col-sm-6">
							<div>Address:</div>

							<textarea ng-model="form.address" rows="2" cols="41"></textarea>
						</div>

						<div class="form-group col-sm-6">
							<div>Phone:</div>
							<input ng-model="form.phone" class="form-control">
						</div>
						<div class="form-group col-sm-6">
							<div>Gender:</div>
							<div class="form-control">
								<label class="radio-inline"> <input ng-model="form.gender" ng-value="true" type="radio"
										name="gender"> Yes
								</label> <label class="radio-inline"> <input ng-model="form.gender" ng-value="false"
										type="radio" name="gender"> No
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-6">
							<div>Photo:</div>
							<input type="file" class="form-control" id="photo"
								onchange="angular.element(this).scope().imageChanged(this.files)">
						</div>
						<div class="form-group col-sm-6">
							<div>Date:</div>
							<input ng-model="form.date" type="date" class="form-control">
						</div>
					</div>

				</div>
				<div class="panel-footer text-center p-3">
					<button ng-click="create()" class="btn btn-success">
						<b class="glyphicon glyphicon-plus"></b> Create
					</button>
					<button ng-click="update()" class="btn btn-success">
						<b class="glyphicon glyphicon-save"></b> Update
					</button>
					<button ng-click="delete(form)" class="btn btn-success">
						<b class="glyphicon glyphicon-trash"></b> Delete
					</button>
					<button ng-click="reset()" class="btn btn-success">
						<b class="glyphicon glyphicon-refresh"></b> Reset
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.container-fluid -->